.imagen {
    height: 200px;
    margin: 0px 70px;
    width: 200px;
}

.card {
    background-color: black;
    border-radius: 15px;
    color: white;
    height: 500px;
    margin: 10px;
    padding: 0px 20px;
    width: 400px;
}

h2 {
    color: gold;
}

.button {
    background-color: gold;
    border-radius: 15px;
    color: black;
    font-size: 15px;
    height: 50px;
    margin-left: 100px;
    text-decoration: none;
    width: 130px;
}

a{
    color: black;
    text-decoration: none;

}