.cart-button{
  background-color: black;
  border: white solid 3px;
  color: white;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin: 1rem 0;
  padding: 1rem;
  color: white;
  width: 100%;
}

.cart-item img {
  width: 10rem;
  height: auto;
}

a.cart{
  color: white;
  text-decoration: none;
}