.card{
    width: 350px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    color: black;
    background-color: chartreuse;
}
.text{
    color: black;
    font-size: 15px;
}
.button-agregar{
    background-color: blue;
    color: white;
    font-size: 15px;
}