.logo {
    width: 200px;
    height: 150px;
}

.barra {
    padding-left: 50px;
}

.busqueda {
    padding-right: 100px;
}

.styleNavbar {
    background-color: black;
}

.texto {
    color: green;
    text-align: center;
    padding: .3125rem;
    font-size: 1.25rem;
    margin-right: 1rem;
}

