.logo {
    height: 150px;
    width: 200px;
}

.barra {
    padding-left: 50px;
}

.busqueda {
    padding-right: 100px;
}

.styleNavbar {
    background-color: black;
}

.texto {
    color: white;
    font-size: 1.25rem;
    margin-right: 1rem;
    padding: .3125rem;
    text-align: center;
}

li {
    color: gold;
}
.icon-cart {
    background-color: transparent;
    color: whitesmoke;
    height: 30px;
    width: 150px;
}