.logo {
    height: 150px;
    width: 200px;
}

.barra {
    padding-left: 50px;
}

.busqueda {
    padding-right: 100px;
}

.styleNavbar {
    background-color: black;
}

.texto {
    color: white;
    font-size: 1.25rem;
    margin-right: 1rem;
    padding: .3125rem;
    text-align: center;
}

.icon-cart {
    color: whitesmoke;
    cursor: pointer;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 50px;
    height: 36px;
    margin: 10px;
    padding-top: 5px;
    width: 56px;
}